<?xml version="1.0" encoding="utf-8" standalone="no"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" id="com.org.TesteFacebook" version="1.0.0">
    <name>Teste Facebook</name>
    <description>Teste Facebook</description>
    <author email="ollenot@gmail.com" href="http://www.google.com">giovanni.tonello</author>
    <access origin="*"/>
    <preference name="fullscreen" value="false"/>
    <preference name="webviewbounce" value="true"/>

    <gap:plugin name="com.phonegap.plugins.facebookconnect">
        <param name="APP_ID" value="217126741800298" />
        <param name="APP_NAME" value="testelogarbeleza" />
    </gap:plugin>      
    
</widget>
